[submodule "plugin-template"]
	path = plugin-template
	url = https://github.com/trt-pos/plugin-template.git
[submodule "trt-central"]
	path = trt-central
	url = https://github.com/trt-pos/trt-central.git
[submodule "fxml2java"]
	path = fxml2java
	url = https://github.com/trt-pos/fxml2java.git
[submodule "plugins/accounting"]
	path = plugins/accounting
	url = https://github.com/trt-pos/plugin-accounting.git
[submodule "plugins/cr"]
	path = plugins/cr
	url = https://github.com/trt-pos/plugin-cash-register.git
[submodule "plugins/rm"]
	path = plugins/rm
	url = https://github.com/trt-pos/plugin-receipt-manager.git
[submodule "plugins/sb"]
	path = plugins/sb
	url = https://github.com/trt-pos/plugin-spanish-billing.git
[submodule "plugins/floor-plan"]
	path = plugins/floor-plan
	url = https://github.com/trt-pos/plugin-table-drawing.git
[submodule "core"]
	path = core
	url = https://github.com/trt-pos/core.git
[submodule "t-cleaner"]
	path = t-cleaner
	url = https://github.com/trt-pos/t-cleaner
